﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Mobile Data Exchange", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("API Help", "Index", "Help", new { area = "" }, new { @class = "navbar-brand" })
            </div>
           
        </div>
    </div>
    <div class="container body-content" >
        @RenderBody()
        <hr />
        <footer>
            <br>
            <br>
            <p>Unauthorized attempts to use this service are strictly prohibited and may be punishable under the Computer Fraud and Abuse Act of 1986 and the National Information Infrastructure Protection Act.</p>
            <br>
            IP: @Request.UserHostAddress <br>
            UTC: @DateTime.Now.ToUniversalTime()
            <br>
            <hr />
            <p style="font-size:x-small"> &copy; @DateTime.Now.Year - CORPORATE TRANSPORTATION GROUP, LTD. ALL RIGHTS RESERVED</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
